@model List<CamadaDeDados.Banco.categoria_problema>
@{
    Layout = null;
}

<script>
    $('#enviar').click(function () {
        var titulo = document.getElementById("titulo").value, url = document.getElementById("url").value, text = document.getElementById("desc").value, categoria = document.getElementById("categoria").value;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CadastrarVideo","Inicio")',
            data: { titulo: titulo , cat: categoria, url: url, desc: text },
            beforeSend: function () {
                
            
                $('#conteudo').css({ "color": "blue" });
                document.getElementById("conteudo").innerHTML = "Enviando...";
                $('#myModalNorm').modal('show');
            }
        }).done(function (data) {
           
            $('#conteudo').css({ "color": "green" });
            document.getElementById("conteudo").innerHTML = "Enviado com sucesso!";
            $('#novo').slideUp();

        }).fail(function () {
            $('#conteudo').css({ "color": "red" });
            document.getElementById("conteudo").innerHTML = "Falha ao enviar";
            $('#novo').slideUp();
        });
    });





</script>


<p class="form-control" id="dialog">Status...</p>

<form action="@Url.Action("CadastrarVideo","Inicio")" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Thumbnail</label>
            <div class="col-md-10">
                <input id="imagem" name="imagem" class="form-control" type="file" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Titulo ao video</label>
            <div class="col-md-10">
                <input id="titulo" name="titulo" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label>Categoria</label>
            <div class="col-md-10">
                <select name="categoria" class="form-control">
                    <option>Selecione uma categoria</option>
                    @foreach (var i in Model)
                    {
                        <option id="categoria" value=@i.id_cat>@i.nome_cat</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Embed code</label>
            <div class="col-md-10">
                <input id="url" name="url" class="form-control" type="text" />
            </div>
        </div>

        <label class="control-label col-md-2">Descrição</label>
        <div class="form-group">

            <div class="col-md-10">
                <textarea id="desc" name="desc" class="form-control" style="hyphens:manual;resize:none;width:100%;height:200px;"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="enviar" type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </div>

    </div>
   
</form>










