@model IEnumerable<CamadaDeDados.Banco.video>
@{ Layout = null;}

<script>
    $(document).ready(function () {
        $('#mais').click(function () {
            $.ajax({
                url: '../Inicio/_novoVideo'

            }).success(function (n) {
                $('#corpo').html(n);
            });
        });
    });





</script>
<style>
    #head {
        background-color: black;
    }

    #fechar:hover {
        opacity: 0.9
    }

    #mais {
        background-color: dodgerblue;
        border: solid 1px white;
        float: right;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }

        #mais:hover {
            border: 2px solid dodgerblue;
            background-color: greenyellow;
            cursor: pointer;
        }

            #mais:hover > h6 {
                text-shadow: 2px 2px 2px green;
            }

    #conteudo:hover {
        cursor: pointer;
        border: solid 2px yellow;
        box-shadow: yellow 1px 1px 20px 1px;
    }

    #conteudo > td {
        height: 20%;
    }

    .center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
</style>

<div style="text-align:center" id="pesqVideo">
    <input style="width:400px;" type="search" id="pesquisa" name="nome" placeholder="Pesquisar titulo" />
    <button onclick="search('vid');" type="submit"><i class="fa fa-search"></i>Pesquisar</button>
</div>

@foreach(var item in Model)
{
    
        <h1 onclick="videoDetalhes(@item.id_video)">@item.titulo_video</h1>
    
}


<h1 style="text-align:center;">@ViewBag.Send</h1>

@if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.tipoUsuario == "fis" && ViewBag.Send == null)
{



    <div id="mais" data-toggle="modal" data-target="#novo">
        <h6 style="color:white">Postar mais video?</h6>
    </div>

    <div>
        <div style="width:100%" class="modal fade" id="novo" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="fechar" style="float:right;width:10%;background-color:red;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:left">Publicar Novo Video</h4>
                    </div>
                    <div id="corpo" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@if (ViewBag.Send != null && FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.tipoUsuario != "pac")
{
    <h2 style="text-align:center;cursor:pointer;" data-toggle="modal" data-target="#novo">Deseja publicar um video?</h2>
    <div>
        <div class="modal fade" id="novo" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="fechar" style="float:right;width:10%;background-color:red;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:left">Publicar Novo Video</h4>
                    </div>
                    <div id="corpo" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
}



