@model FECprojeto.Models.Classes.Concretas.Artigos
@{
    ViewBag.Title = "artigoSource";
}
<script></script>
<h3>Artigos</h3>
 <label for="select">Categoria</label>
<select name="Categoria">

    <option value="todos">Todos</option>
    <option value="inferiores">Membros inferiores</option>
    <option value="superiores">Membros superiores</option>
    <option value="costas">Costas</option>
</select>
<button type="submit"><i class="fa fa-search"></i>Pesquisar</button>


