@model FECprojeto.Models.Classes.Concretas.Fisioterapeuta
@{
    ViewBag.Title = "IndexFisioterapeuta";
}

<form id="Inicio">
<h5 style="background-color:white;border:solid;border-color:black;text-align:center;" id="name">@Model.nome</h5>
</form>


