@model FECprojeto.Models.Classes.Concretas.Artigos
@{
    ViewBag.Title = "ViewTeste";
    Layout = null;
}

<label>Código: @Model.idArtigo</label>

<h2>@Model.tituloArtigo</h2>

<p>@Model.corpoArtigo</p>

<h5>@Model.dataArtigo</h5>