@{
    ViewBag.Title = "TelaDanielLogin";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/JS/TelaDanielLoginjs")

    @Styles.Render("~/CSS/TelaDanielLogin")
    <script src="~/Scripts/Inicio/JQueryBlockUI.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="Page-Enter" content="RevealTrans (Duration=1, Transition=23)">
    <meta http-equiv="Page-Exit" content="RevealTrans (Duration=1, Transition=23)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fisioterapia em casa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Notification.requestPermission();
        });

    </script>
</head>
<body class="fadeIn">

    <nav>
        <div class="grid">
            <div id="loginBtn">Login</div>
            <div id="sobreBtn">Sobre</div>
        </div>
    </nav>
    <hr>
    <div id="sobreContent">
        <hgroup>
            <h2>Aquele que estuda medicina sem livros navega num mar desconhecido, mas aquele que estuda medicina sem pacientes não vai ao mar.<br> - William Osler</h2>
        </hgroup>
        <div id="mensagem">
            <article>
                <section>
                    <p>Idealizado pelos alunos do Centro Universitário Adventista de São Paulo</p>
                </section>
            </article>
        </div>
    </div>
    <div style="height:1%;display:none;" id="container">
        <div id="alerta" class="panel panel-danger">
            <div style="text-align:center;" class="panel-heading">*Aviso</div>
            <div id="info" style="text-align:center;" class="panel-body">Panel Content</div>
        </div>
    </div>


    <div align="center" class="form">
        <form>
            <input id="login" type="text" name="login" ng-model="user" placeholder="Login de usuário" required="required" autofocus /><br>
            <input type="password" name="password" id="password" placeholder="Senha de usuário" required="required" /><br>
            <button id="logar" type="button">Login</button>
        </form>

    </div>
    <footer>DJACK &#169;</footer>
</body>
</html>

