


form{
text-align:center;

}
button[onCLick="sairInicial()"]{
    background-color: tomato;
}
button[onCLick="sairInicial()"]:hover{
    background-color: rgb(129, 41, 25);
}

button{
    display:inline-block;
    margin-top:40px;
    box-shadow:black 1px 2px 20px 2px;
}

#btnVoltar{
    background-color:royalblue;
}
#TS{
    margin-top:3px;
    background-color:white;
    text-align:center;
    border:solid 1px;
    box-shadow:white 2px 2px 12px 2px;
}

#Mensagem {
    text-align: center;
    margin-top: 4px;
    background-color: red;
    border: thick;
    border-radius: 30%;
    color: white;
}